
        <footer>
            <article>
                <section class="content_wrap">
                    <section>
                        
	<div class="sideleft">
		<div class="copyright">&copy;&nbsp;2013-2017 Медведев М.В.</div>
		<div><a href="http://medvedev.ua/sitemap.html">Карта сайта</a></div>
        <div><a rel="nofollow" href="/?set-device=phone">Мобильная версия</a></div>
	</div>
	<!-- /.sideleft -->

	<div class="sideright">
	Сайт создан компанией zEws&Co </a><br> 
	<br><span class="small">2013</span>
</div>

	<div class="sidecenter">
		<div>
			Вы можете связаться с автором сайта
			<span class="dotted callback ordform"><a class="pop_feedback" href="#"><span>заполнив форму</span></a></span><br>
				Контактный телефон:
			<strong class="black">+38 (067) <span>737-81-17</span></strong><br>E-mail: <a href="mailto:info@medvedev.ua"><img src="http://medvedev.ua/assets/styles/images/writeme.png"/></a>
		</div>

				<ul class="socweb">
			<!-- <li><a class="vk" href="#" target="_blank"></a></li> -->
			<li><a class="odnoklassniki" href="http://www.odnoklassniki.ru/profile180055333" target="_blank"></a></li>
			<li><a class="facebook" href="https://www.facebook.com/DrMedvedev" target="_blank"></a></li>
			<li><a class="google" href="https://plus.google.com/+%D0%9C%D0%B8%D1%85%D0%B0%D0%B8%D0%BB%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87%D0%9C%D0%B5%D0%B4%D0%B2%D0%B5%D0%B4%D0%B5%D0%B2/posts" target="_blank"></a></li>
		</ul>
	</div>
	
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter26300550 = new Ya.Metrika({id:26300550,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26300550" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-55123847-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
                        <!-- /.sidecenter -->
                    </section>
                </section>
                <!-- /.content_wrap -->
            </article>
        </footer>

        
<div id="scroll_top"><a href="#top"></a></div>
<div id="scroll_top_annonce"><a href="#top"></a></div>

        
<div id="poplogin">
	<div class="popup">
    	<a href="#" class="r-close"></a>
		<div class="section">
			<div class="title"><h2>Вход на сайт</h2></div>
		</div>

		<form class="order bgs" action="#" data-submit="Profile.login">
			<div class="body">
				<fieldset class="form_enter">
					<div class="text textact" data-status="login">Введите адрес электронной почты указанный при регистрации.</div>

					<div class="row nomarg">
						<input type="text" name="email" data-required="email" placeholder="Эл.почта">
					</div>

					<div class="row inpdef">
						<input type="password" data-required name="password" placeholder="Пароль" value="">
					</div>

					<div class="row fogdef">
						<div class="row visible">
							<span class="left fog"><input id="rememberme" name="rememberme" value="1" type="checkbox"> <label for="rememberme"><span></span> Запомнить меня</label></span>
							<span class="right"><input type="submit" value="Войти"></span>
						</div>

						<div class="row both dotted green" style="padding-top: 10px;">
							<a href="#" class="pop_forget"><span>Забыли пароль?</span></a>
						</div>
					</div>
					<!-- /.fogdef -->

					<div class="row fogact">
						<div class="row visible">
							<span class="right"><input type="button" data-click="Profile.forgot_password" value="Восстановить пароль" style="width: 220px;"></span>
						</div>

						<div class="row both dotted green" style="padding-top: 10px;"><a class="pop_forget_back"
																						 href="#"><span>Вернуться назад</span></a>
						</div>
					</div>
					<!-- /.fogact -->

				</fieldset>

				<fieldset>
					<div class="text crop">Если у вас еще нет аккаунта на нашем сайте — зарегистрируйтесь и после
						регистрации вы сможете комментировать материалы сайта, участвовать в тестировании, писать отзывы
						и
						т.д.
					</div>
					<div class="row"><a class="btn keybtn r-regbtn" href="http://medvedev.ua/registration.html">Регистрация<span></span></a></div>
				</fieldset>
			</div>
			<!-- /.body -->

			<fieldset class="block_socweb both">
				<span class="left relative" style="margin-right: 10px; top: 5px;">Вход через:</span>

				
				<ul class="socweb nopad left">
					<li><a class="vk" href="http://medvedev.ua/oauth.html?action=login&provider=vk&referer=4"></a></li>
					<li><a class="odnoklassniki" href="http://medvedev.ua/oauth.html?action=login&provider=odnoklassniki&referer=4"></a></li>
					<li><a class="facebook" href="http://medvedev.ua/oauth.html?action=login&provider=facebook&referer=4"></a></li>
					<li><a class="google" href="http://medvedev.ua/oauth.html?action=login&provider=google&referer=4"></a></li>
				</ul>
			</fieldset>
		</form>
	</div>

	<div class="bg0" data-overlay></div>
</div>


<div id="popfeedback">
	<div class="popup">
		<div class="section">
			<a class="close" href="#"></a>

			<div class="title"><h2>Форма обратной связи</h2></div>
			<div class="title send"><h2>Сообщение отправлено</h2></div>
			<div class="txt send" data-status="feedback-popup">Спасибо за сообщение, мы свяжемся с вами по электронной почте в ближайшее время
			</div>
		</div>

		<form data-submit="Controller.feedback_popup" id="popfeedbackclick" class="order inside nomarg" action="#">
        	<input type="hidden" name="seminar_name">
            <input type="hidden" name="seminar_url">
			<div class="body">
				<fieldset class="form_enter">
					<div class="row"><input name="name" type="text" data-required placeholder="Имя и Фамилия"></div>
					<div class="row" style="margin-right: 0px;"><input type="text" data-required="email" name="email"
																	   placeholder="Эл.почта"></div>
					<div class="row visible" style="display: block !important; margin: 0px 0px 15px 0px;"><textarea
							name="text" placeholder="Сообщение"></textarea></div>
					<div class="row nomarg"><input class="btn" type="submit" value="Отправить сообщение"></div>
				</fieldset>
			</div>
			<!-- /.body -->
		</form>
	</div>
	<!-- /.popup -->

	<div class="bg0" data-overlay></div>
</div>
<div id="poptest">
	<div class="popup">

            <div class="section">
                <a class="b-close" href="#" data-click="Testing.popup_close"></a>
            </div>
    
            
            <!-- /.body -->
            <div class="body" data-question="results"></div>
            <!-- /.body -->
        <!-- /.popup -->
    </div>
</div><!-- /poptest -->




<div id="popdonate">
	<div class="popup">
		<div class="section">
			<a class="close" href="#"></a>

			<div class="title">
				<h2>Помощь на развитие проекта</h2>
			</div>
			<div class="donate-desc">
				Все, кому не безразлична судьба нашего проекта, каждый, кто находит публикуемые на нашем сайте материалы полезными и интересными, могут помочь нашему проекту дальше развиваться и приносить пользу людям.
			</div>
            
			<form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/pay" id="liqpay-form">	
				<input type="hidden" name="public_key" value="i7909175573" />
				<input type="hidden" name="currency" value="UAH" />
				<input type="hidden" name="description" value="Помощь на развитие портала о женском здоровье «medvedev.ua»" /> 
				<input type="hidden" name="type" value="donate" />
				<input type="hidden" name="pay_way" value="card,delayed" />
				<input type="hidden" name="result_url" value="http://www.medvedev.ua" />
				<input type="hidden" name="language" value="ru" />
				<input type="text" name="amount" value="100" placeholder="Сумма"/>
				<span class="don-currency">грн</span>
				<input type="submit" name="btn_text" value="Поддержать"/>
			</form>		
			<div class="donate-desc-2">
				Сумма, само собой, зависит только от Вас, т.е размера Вашей благодарности.
			</div>
		</div>
		
	</div>
	<!-- /.popup -->

	<div class="bg0" data-overlay></div>
</div>

<!-- /.popup -->

    </body>
</html>
