/* whole body site */
body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
}

/* hidden fields */
.hidden {
    display: none;
}

/* Preloader */
/*
.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 100px;
    width: 100px;
    margin-top: -70px;
    margin-left: -70px;
    left: 50%;
    top: 50%;
    position: absolute;
}*/
/*---------------------------------------------*/

form {
    display: block;
    margin-top: 0em;
}
.big__block .content {
    background-color: #FFFFFF;
    line-height: 1.3;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

.calendar_pink_a {
    background-color: #f3798d;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    color: #fff;
    line-height: 11px;
    font-size: 11px;
    width: 26px;
    height: 26px;
    padding-top: 8px;
}
.calendar_pink_a:hover {
    transform: scale(1.1);
    background-color: #e2677e;
    color: #fff!important;
}

.calendar_green_a {
    background-color: #8ec79f;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    color: #fff;
    line-height: 11px;
    font-size: 11px;
    width: 26px;
    height: 26px;
    padding-top: 8px;
}
.calendar_green_a:hover {
    transform: scale(1.1);
    background-color: #69b288;
    color: #fff!important;
}

.calendar_violet_a {
    background-color: #7a6b93;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    color: #fff;
    line-height: 11px;
    font-size: 11px;
    width: 26px;
    height: 26px;
    padding-top: 8px;
    text-decoration: none;
}
.calendar_violet_a:hover {
    transform: scale(1.1);
    background-color: #6a5b84;
    color: #fff!important;
    text-decoration: none;
}

.calendar_1_tr{
    text-align: center;
    color: #F3798D;
    font-weight: bold;
}
.calendar_2_tr{
    text-align: center;
    color: #8ec79f;
    font-weight: bold;
}
.calendar_3_tr{
    text-align: center;
    color: #7a6b93;
    font-weight: bold;
}
select {
    border-radius: 5px;
    background-color: white;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
select:not {
    overflow: visible !important;
}