.row {
    padding-top: 10px;
    width: 620px;
}

/* Оформлениет заголовка меню  */

#breadcrumbs01 {

}
#breadcrumbs01 ul {
    display: inline-table;
    list-style: none outside none;
    margin: 0px;
}
#breadcrumbs01 ul li {
    display: inline;
}
#breadcrumbs01 ul li a {
    display: block;
    float: left;
    height: 28px;
    background: #36797e;
    text-align: center;
    padding: 0px 6px 0 20px;
    position: relative;
    margin: 0 5px 0 0;
    font: italic 18px/28px georgia, 'Times New Roman';
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

#breadcrumbs01 ul li.active a {
    background: #68a2a7;
}

#breadcrumbs01 ul li a:hover {
    background: #68a2a7;
}

#breadcrumbs01 ul li a:after {
    content: "";
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #36797e;
    position: absolute; right: -14px; top: 0;
    z-index: 1;
}

#breadcrumbs01 ul li a:hover:after {
    border-left: 14px solid #68a2a7;
}

#breadcrumbs01 ul li.active a:after {
    border-left: 14px solid #68a2a7;
}


#breadcrumbs01 ul li a:before {
    content: "";
    border-bottom: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-top: 14px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#breadcrumbs01 ul li:first-child a {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 15px;
}
#breadcrumbs01 ul li:first-child a:before {
    display: none;
}
#breadcrumbs01 ul li:last-child a {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 15px;
}
#breadcrumbs01 ul li:last-child a:after {
    display: none;
}

/* Поле табс  */

div.row div.tab-content01 {
    height: 150px;
}

div.c_form {
    padding-right: 16px;
}

div.title {
    padding-right: 22px;
}

div.title form{
    margin: 0px;
}

/* Оформлениет кнопки отправить  */

input.t_submit {
    display: block;
    font: italic 14px/20px georgia, 'Times New Roman';
    color: #FFFFFF;
    border: 0;
    padding: 0px 10px;
    background: url(../images/note_white.png) 154px 0px no-repeat #36797e;
}

form  input.t_submit {
    width: 482px;
}

.uzor_up, .uzor_down {
    height: 5px;
    overflow: hidden;
    background: url(../images/uzor_up.png) 2px 0px repeat-x;
}
.uzor_down {
    background: url(../images/uzor_down.png) 2px 0px repeat-x;
}

.row span {
    position: relative;
    display: block;
    margin: 8px 0px;
}


div.title .basic-slide + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #36797e;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #FFFFFF;
    width: 28px;
}

#growth, #weight {
    padding-left: 65px;
    width: 100px;
}

.bmi {
    padding: 5px 15px;
    background: #36797e;
    border-radius: 3px;
    color: #FFFFFF;
    border: 0;
}

